<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .page {
            padding: 1rem;
            font-size: 1.2rem;
            font-weight: 700;
            background-color: black;
            color: rgb(212, 5, 202);
            margin: 2rem;
            border-radius: 0.7rem;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <a href="{% url 'contacts' %}"><button class="page">contacts</button></a>
    <a href="{% url 'payment' %}"><button class="page">payment</button></a>
</body>
</html>